body {
  height: 100%;
	width: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
}

.dialogue {
  text-align: center;
  color : blue;
  font-size: 150% 
}

table td b {
  background-color: black;
  color: rgb(228, 168, 228);
}
table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
}

table td {
  border-style: outset;
}


