body {
  height: 100%;
	width: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
}

.dialogue {
  text-align: center;
  color : #0a411c;
}

table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
}

table td {
  border-style: outset;
}


