body {
  height: 100%;
	width: 100%; 

  background-color: #1F1C75;
}

.dialogue {
  text-align: center;
  color : blue;
  font-size: 150% 
}

.navButton {
  vertical-align: middle;
  text-align: center;
  display: inline;
  padding: 6%;
}

.navigator {
  width: inherit;
  overflow: hidden;
  float: left!important;
  background-color: black;
  color: white;
}

table td b {
  background-color: black;
  color: rgb(228, 168, 228);
}
table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
}

table td {
  border-style: outset;
}


