body {
  height: 100%;
	width: 100%; 

  background-color: #1F1C75;
}

.def-header {
  border-style: outset;
  text-align: center;
  background-color: black;
  color: white;
}

.openingText{
  text-align: center;
  font-size: 110%;
  color: white;
  background-color: #23233C;
}

.dialogue {
  text-align: center;
  color : blue;
  font-size: 150% 
}

.choice {
  border-style: outset;
  border-radius: 5%;
  border-width: 5px;
  text-align: center;
  font-size: 100%;
  color: white;
  background-color: #23233C;
}

.choices {
  display: -webkit-inline-flex;
}

.navButton {
  vertical-align: middle;
  text-align: center;
  display: inline;
}

.navigator {
  width: inherit;
  overflow: hidden;
  float: left!important;
  background-color: black;
  color: white;
}

table td b {
  background-color: black;
  color: rgb(228, 168, 228);
}
table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
}

table td {
  border-style: outset;
}


